# Ignore eveything so repository can be used in game instance
/*

# Add directories with soure code
!defaultconfigs/
!kubejs/
!mods/panorama/
!panoramas/
!scripts/
!compile_data/
!.github/
!tools/

# Add files in main directory
!.gitattributes
!.gitignore
!LICENSE
!panorama.dat
!README.md

# Keep directories
!config/ae2/
!config/almostunified/
!config/crash_asistant/config.toml
!config/crash_asistant/modlist.json
!config/defaultworldtype/
!config/fancymenu/**
!config/ftbquests/**
!config/gamestages/
!config/jade/
!config/jei/
!config/skyblockbuilder/
# Keep files
!config/badmobs-common.toml
!config/bhmenu-client.toml
!config/carryon-common.toml
!config/chloride-client.json
!config/colossalchests-common.toml
!config/craftpresence.json
!config/create_new_age-common.toml
!config/createlowheated-common.toml
!config/emi.css
!config/exnihilosequentia-common.toml
!config/expatternprovider-common.toml
!config/fluxnetworks-common.toml
!config/gtceu.yaml
!config/ProjectRed.cfg
!config/sgjourney-common.toml
!config/start_core.yaml
!config/thermal-common.toml
!config/toms_storage-common.toml

# Misc
.DS_Store

# Linting stuff
!package.json
!package-lock.json
!eslint.config.mjs
!.prettierignore
!.prettierrc
!jsconfig.json

# wth is this jank
!.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# AI docs
!AGENTS.md
!CLAUDE.md
!.gemini/